body {
    background-color: white;
}

h3
{
    font-size: 16px;

}
header {
    background-color: mediumpurple;
    text-align: center;
    font-family: Garamond;
    color: aliceblue;
    text-shadow: 1px 1px black;
    padding: 50px;

}


.logo_pic {
    background-image: url(../pics/logo_w.png);
    width: 45px;
    height: 45px;
    padding: 4px;
    float: left;
    background-size: cover;
    position: sticky;
    top: 0;
}

.logo {
    background-color: black;
    position: sticky;
    top: 0;
    height: 48px;
    box-shadow: 0px 1px 5px black;
}

nav {
    color: black;
    background-color: black;
}

a.nav-link {
    color: white ;
    background-color: transparent;
    text-decoration: none;
}

a.nav-link:hover {
    color: #767499;
    background-color: transparent;
    text-decoration: none;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #767499;
    background-color: transparent;
    text-decoration: none;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu a {
    position: center;
    left: 100%;
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


/* Main column */
.main {
    flex: 80;
    background-color: white;
    padding: 20px;
}


.menu li a:hover {
    background-color: #555;
    color: white;
}


.col-md-4
{
    box-shadow: 1px 0 0 #000;
}

.empty_pp
{
    background-image: url(../pics/profile_picture_user_icon_153847.png);
    width: 45px;
    height: 45px;
    padding: 4px;
    float: left;
    background-size: cover;
    position: sticky;
    top: 0;
}

footer {
    text-align: center;
    color: black;
    background-color: #f1f1f1;
    padding: 10px;

}

.separate{
    background-image: url(../pics/separator.png);
    width: 400px;
    height: 6px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }


    .col-md-4
    {
        box-shadow: 0 1px 0 #000;
    }
}