header {
    background-color: mediumpurple;
    text-align: center;
    font-family: "Garamond";
    color: aliceblue;
    text-shadow: 1px 1px black;

    padding: 50px;
    outline-style: dashed;
    outline-color: antiquewhite;
}

nav {
    color: black;
    background-color: black;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}
