header {
    background-color: mediumpurple;
    text-align: center;
    font-family: "Garamond";
    color: aliceblue;
    text-shadow: 1px 1px black;

    padding: 50px;
    outline-style: dashed;
    outline-color: antiquewhite;
}

.logo {
    background-color: black;
    position: sticky;
}

nav {
    color: black;
    background-color: black;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu a {
    position: center;
    left: 100%;
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.flex-column {
    list-style-type: none;
    margin: 0;
    padding: 0px;

    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
}

.flex-column li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.flex-column li a:hover {
    background-color: #555;
    color: white;
}

@media only screen and (max-width: 576px)
{
    .flex-column {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 576px;
        background-color: #f1f1f1;
        height: auto;
        position: absolute;
    }
}