body{
    background-color: white;
}

header {
    background-image: url(../pics/main_photo.png);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Garamond;
    color: aliceblue;
    text-shadow: 1px 1px black;
    padding: 50px;
}

.logo_pic {
    background-image: url(../pics/logo_w.png);
    width: 45px;
    height: 45px;
    padding: 4px;
    float: left;
    background-size: cover;
    position: sticky;
    top: 0;
}

.logo {
    background-color: black;
    position: sticky;
    top: 0;
    height: 48px;
    box-shadow: 0px 1px 5px black;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu a {
    position: center;
    left: 100%;
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.col-md-4
{
    box-shadow: 1px 0 0 #000;
}

.empty_pp {
    background-image: url(../pics/profile_picture_user_icon_153847.png);
    width: 20px;
    height: 20px;
    padding: 25px;
    float: left;
    background-size: cover;
    position: sticky;
    top: 0;
}

footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;

}

.separate{
    background-image: url(../pics/separator.png);
    width: 400px;
    height: 6px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pic1 {
    background-image: url(../pics/pexels-julia-m-cameron-4145190.jpg);
    width: 324px;
    max-width:100%;
    height: 200px;
    display: inline-block;
    float: left;
    background-size: cover;
}

.pic2 {
    background-color: darkgrey;
    width: 324px;
    height: 200px;
    background-size: cover;
    float: right;
}

h3
{
    font-size: 16px;
}

h4
{
    font-size: 16px;
    text-shadow: 0px 0px 2px darkgrey;
}
.pagination > .active > a
{
    background-color: #767499 !important;
    border: solid 1px #767499 !important;
}


@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }


    .col-md-4
    {
        box-shadow: 0 -1px 0 #000;
    }
}



nav {
    color: black;
    background-color: black;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a.nav-link {
    color: white ;
    background-color: transparent;
    text-decoration: none;
}

a.nav-link:hover {
    color: #767499;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: #767499;
    background-color: transparent;
    text-decoration: none;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    background-image: linear-gradient(to right, #d5d5d5, #f1f1f1, #d5d5d5);
    box-shadow: 0 1px 0 #d5d5d5;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu li a {
    display: block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
}


.main {
    flex: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: -10px 0 10px -10px darkgrey;

}

.menu li a:hover {
    background-color: gray;
    color: white;
    box-shadow: 0px 0px 4px grey;
}


