body {
    background-color: white;
}

.welcome a
{

}

.welcome
{

}

h3 {
    font-size: 16px;
}

header {
    background-color: mediumpurple;
    text-align: center;
    font-family: Garamond;
    color: aliceblue;
    text-shadow: 1px 1px black;
    padding: 50px;

}


.logo_pic {
    background-image: url(../pics/logo_w.png);
    width: 45px;
    height: 45px;
    padding: 4px;
    float: left;
    background-size: cover;
    position: sticky;
    top: 0;
}

.logo {
    background-color: black;
    position: relative;
    top: 0;
    height: 48px;
    box-shadow: 5px 1px 5px black;
}

nav {
    color: black;
    background-color: black;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu a {
    position: center;
    left: 100%;
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}


.flex-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: relative;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    float: left;
    display: inline-block;
}

.flex-column li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.flex-column li a:hover {
    background-color: #555;
    color: white;
}

.articles {
    position: absolute;
    top: 400px;
    left: 220px;
    background-color: white;
    display: block;
}
.articles .col-md-4
{
    box-shadow: 0px 0px 1px darkgrey;
}

.empty_pp
{
    background-image: url(../pics/profile_picture_user_icon_153847.png);
    width: 45px;
    height: 45px;
    padding: 4px;
    float: left;
    background-size: cover;
    position: sticky;
    top: 0;
}

footer {
    text-align: center;
    color: black;
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 200px;
    background-color: #f1f1f1;

}

.menu_column {
    background-color: #f1f1f1;
    width: 200px;
    height: 100%;
    position:absolute;
    top: 444px;
    display: block;
}

@media only screen and (max-width: 576px) {
    .flex-column {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
        height: auto;
        position: absolute;
    }

    .flex-column li a:hover {
        background-color: #555;
        color: white;

    }
    .welcome{
        position: relative;
        top:160px;
    }

    .articles {
        left:0;
        position: absolute;
        top: 650px;   }

    footer {
        position: absolute;
        top: 1000px;
    }

    .menu_column {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    .flex-column {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
        height: auto;
        position: absolute;
    }

    .flex-column li a:hover {
        background-color: #555;
        color: white;}

    .articles {
        left:0;
        position: absolute;
        top: 550px;

    }
    .menu_column {
        display: none;
    }

    .welcome{
        position: absolute;
        top:450px;
    }
    }




