body {
    background-color: red;
}

header {
    background-color: mediumpurple;
    text-align: center;
    font-family: "Garamond";
    color: aliceblue;
    text-shadow: 1px 1px black;

    padding: 50px;
    outline-style: dashed;
    outline-color: antiquewhite;
}


.logo_pic {
    background-image: url(../pics/logo_w.png);
    width: 45px;
    height: 45px;
    padding: 4px;
    float: left;
    background-size: cover;
}

.logo {
    background-color: black;
    position: sticky;
    height: 48px;
}

nav {
    color: black;
    background-color: black;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu a {
    position: center;
    left: 100%;
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.flex-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: relative;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    float: left;
    display: inline-block;
}

.flex-column li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.flex-column li a:hover {
    background-color: #555;
    color: white;
}

@media only screen and (max-width: 576px) {
    .flex-column {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 576px;
        background-color: #f1f1f1;
        height: auto;
        position: absolute;
    }

}

@media only screen and (max-width: 576px) {
    .articles {
        position: absolute;
        top: 500px;
    }
}

footer {
    color: black;
    position: absolute;
    background-color: #f1f1f1;

}

.menu_column {
    background-color: #f1f1f1;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 444px
}

